{% extends "base_template.html" %} {% block title %}Inicio {% endblock %} {%
block links %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/inicio.css')}}"
/>
{% endblock %} {% block content %}
<h1 class="mb50">Sistema de gestión de asistencias</h1>
<h3 class="mb50">Seleccione una opción:</h3>
<ul class="lista-inicio">
  <li>
    <a href="{{url_for('registrar_entrada')}}">Registrar entrada</a>
  </li>
  <li>
    <a href="{{url_for('registrar_salida')}}">Registrar salida</a>
  </li>
  <li>
    <a href="{{url_for('consultar_registros')}}">Consultar registros</a>
  </li>
  <li>
    <a href="{{url_for('gen_inf_general')}}">Generar informe general</a>
  </li>
  <li>
    <a href="{{url_for('gen_inf_personal')}}">Generar informe personal</a>
  </li>
</ul>

{% endblock %}
