{% extends "base_template.html" %} {% block title %}Consultar registros{%
endblock %} {% block content %}
<h1>Consultar registros</h1>
<form action="{{request.path}}" method="POST" class="container">
  <label for="legajo">Legajo: </label>
  <input type="text" name="legajo" id="legajo" value="{{legajo}}" /><br />
  <label for="ultimosdni">Últimos 4 digitos del dni: </label>
  <input type="text" name="ultimosdni" value="{{ultimosdni}}" /><br />
  <label for="dependencia">Dependencia: </label>
  <label for="fechainicio"></label>
  <input
    type="date"
    name="fechainicio"
    id="fechainicio"
    value="{{fechainicio}}"
  />
  <label for="fechafin"></label>
  <input type="date" name="fechafin" id="fechafin" value="{{fechafin}}" />
  <input type="submit" value="Mostrar registros" />
</form>
{% if error %}
<p class="msg-error msg-respuesta">{{error or ""}}</p>
{% endif %} {% if exito %}
<p class="msg-exito msg-respuesta">{{exito or ""}}</p>
{% endif %} {% if registros %}
<table>
  <thead>
    <tr>
      <th>ID registro</th>
      <th>Fecha</th>
      <th>Hora de entrada</th>
      <th>Hora de salida</th>
      <th>Dependencia</th>
      <th>DNI</th>
    </tr>
  </thead>
  <tbody>
    {% for registro in registros %}
    <tr>
      <td>{{registro.id}}</td>
      <td>{{registro.fecha}}</td>
      <td>{{registro.horaentrada}}</td>
      <td>{{registro.horasalida}}</td>
      <td>{{registro.dependencia}}</td>
      <td>{{registro.trabajador.dni}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="msg-respuesta msg-normal">No hay registros</p>
{% endif %} {% endblock %}
