<header>
  <nav>
    <ul>
      <li>
        <a href="{{url_for('inicio')}}">Inicio</a>
      </li>
      <li>
        <a href="{{url_for('registrar_entrada')}}">Registrar entrada</a>
      </li>
      <li>
        <a href="{{url_for('registrar_salida')}}">Registrar salida</a>
      </li>
      <li>
        <a href="{{url_for('consultar_registros')}}">Consultar registros</a>
      </li>
      <li>
        <a href="{{url_for('gen_inf_general')}}">Generar informe general</a>
      </li>
      <li>
        <a href="{{url_for('gen_inf_personal')}}">Generar informe personal</a>
      </li>
    </ul>
  </nav>
</header>
